.header {
    background: #553d56;
}

.front .header img {
    width: 50px;
    background: #8d3892;
}

.front .header .menu.nav-pills .active > a {
    background-color: rgba(187, 136, 190, 0.7);
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
}

.front .header .menu li .dropdown-menu {
    background-color: rgba(187, 136, 190, 0.9);
}

.front .header .menu li .dropdown-menu a:hover{
    color: #553d56;
}
.front .ticket-list .ticket .number a {
    color: #553d56;
}