*, *::after, *::before {
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

html, body {
    min-height: 100%;
    height: 100%;
    /*background: #252525 url('../../img/bg.png');*/
    color: #444;
    -webkit-font-smoothing: antialiased;
    min-width: 1024px;
}

a, .anim {
    -webkit-transition: opacity linear 0.2s, box-shadow linear 0.2s, background linear 0.2s, border linear 0.2s;
    -moz-transition: opacity linear 0.2s, box-shadow linear 0.2s, background linear 0.2s, border linear 0.2s;
    -ms-transition: opacity linear 0.2s, box-shadow linear 0.2s, background linear 0.2s, border linear 0.2s;
    -o-transition: opacity linear 0.2s, box-shadow linear 0.2s, background linear 0.2s, border linear 0.2s;
    transition: opacity linear 0.2s, box-shadow linear 0.2s, background linear 0.2s, border linear 0.2s;
}

a.dashed {
    border-bottom: 1px dashed #0088cc;
}

a.dashed:hover {
    text-decoration: none;

}

/* Main */

h1, h2, h3, h4 {
    font-family: "Segoe UI", "Open Sans", Arial, Tahoma, Verdana, sans-serif;
    font-weight: inherit;
}

h1 {
    /*color: #F5AA56;*/
    font-weight: normal;
    color: #1b4770;
    font-size: 26px;
}

h2 {
    color: #8DB827;
}

h3 {
    color: #9C9A2C;
}

h4 {
    color: #694711;
    font-size: 16px;
}

.drag-box {
    padding: 5px;
    border: 1px dashed #9C8060;

}

.drag-box .ifempty {
    color: #B88041;
}

/* Admin panel */

.adminpanel {
    height: auto;
    min-height: 100%;
    position: relative;
}

.adminpanel #menuback {
    background: #f5f5f5;
    bottom: 0;
    top: 0;
    left: 20px;
    position: absolute;
    z-index: -1;
    width: 200px;
    box-shadow: inset -2px 0 5px rgba(0, 0, 0, 0.1);
    border-right: 1px solid #cccccc;
    border-left: 1px solid #cccccc;
}

.adminpanel .logo {

    max-width: 180px;
    margin: 10px;
}

.adminpanel .leftcolumn {

    width: 200px;
    float: left;
    position: relative;
    left: 1px;
    height: 100%;

}

.adminpanel .leftcolumn h2 {
    text-align: center;
    margin: 18px 0 8px;
}

.adminpanel .rightcolumn {

    margin-left: 202px;
    background: #ffffff;
    min-height: 100%;
    height: 100%;

}

.adminpanel .rightcolumn .content {

    padding: 20px;

}

.adminpanel .menu a {
    display: block;
    padding: 10px 0 10px 5px;
    border-top: 1px solid #ffffff;
    font-weight: bold;
    text-shadow: 0 1px #ffffff inset;
    border-left: 5px solid #f5f5f5;

}

.adminpanel .menu li {
    position: relative;

}

.adminpanel .menu li {
    border-top: 1px solid #ddd;
    /*border-bottom: 1px solid #dddddd;*/
}

.adminpanel .menu li:nth-child(even) a {
    /*background: #fcfcfc;*/
    border-left: 5px solid #fcfcfc;
}

.adminpanel .menu li:last-child a {
    /*border-bottom: 1px solid #eeeeee;*/
}

.adminpanel .menu li a:hover {

    background: #F5F5F5;
    color: #D95252;
    text-decoration: none;
    border-left: 5px solid #d59392;
    position: relative;
    width: 190px;
    z-index: 3;
    border-right: 1px solid #cccccc;

}

.adminpanel .menu li a.active {

    /*box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2) inset;*/
    /*border-top: 1px solid #ffffff;*/
    /*background: #FFFFFF;*/
    color: #3F6219;
    text-decoration: none;
    border-left: 5px solid #468847;
    background: #F7E5D4;
    position: relative;
    width: 191px;
    z-index: 3;

}

.adminpanel .menu li .active .link {
    position: absolute;
    top: 0;
    display: block;

    z-index: 3;
    margin-left: 200px;
}

.adminpanel .menu li .active .link .block {

}

.adminpanel .menu li .active .link .arrow {
    display: block;
    width: 0;
    height: 0;
    background: none;
    border-color: transparent transparent transparent #F7E5D4;
    border-width: 20px 0 20px 15px;
    border-style: solid;
}

.adminpanel .menu .submenu.active {
    display: block;
    position: static;

}

.adminpanel .menu .submenu li {
    border: none;

}

.adminpanel .menu .submenu li a {

    border-left: none;
    padding: 5px;
    padding-left: 32px;
    background: #fdfdfd;
    font-weight: normal;
    width: auto;
    border: none;
}

.adminpanel .menu .submenu li a:hover {
    background: #FAEEE3;
}

.adminpanel .menu .submenu li a.active {
    color: #000;
    font-weight: bold;
}

.adminpanel .menu .submenu.disactive {
    display: none;
    position: absolute;
    left: 201px;
    top: 0px;
    width: 150px;
    font-size: 13px;
    border: 1px solid #fff;
    box-shadow: 2px 1px 3px rgba(0, 0, 0, 0.3);

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: #ffffff;
    z-index: 5;
}

.adminpanel .menu li:hover .submenu.disactive {
    display: block;
    padding: 6px 0;
}

.adminpanel .menu li:hover .submenu.disactive .link {
    position: absolute;
    top: 0;
    display: block;

    z-index: 3;
    margin-left: -2px;
}

.adminpanel .menu li:hover .submenu.disactive .link .block {

    display: block;
    background: #F5F5F5;
    width: 10px;
    height: 40px;
    position: absolute;
    margin-left: -10px;
}

.adminpanel .menu li:hover .submenu.disactive .link .arrow {
    display: block;
    width: 0;
    height: 0;
    background: none;
    border-color: transparent transparent transparent #F5F5F5;
    border-width: 20px 0 20px 15px;
    border-style: solid;
}

.adminpanel .menu .submenu.disactive a {

    padding-left: 20px;
}

.adminpanel .menu .submenu.disactive a:hover {

    background: #eee;
    display: block;
    width: auto;
}

.adminpanel .userblock {
    position: fixed;
    top: 0;
    right: 20px;
    width: 200px;
    height: 20px;
    background: #FDEDDB;
    padding: 10px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-bottom-left-radius: 5px;
    border-bottom-left-radius: 5px;
    /*-webkit-border-bottom-right-radius: 3px;*/
    /*-moz-border-bottom-right-radius: 3px;*/
    /*border-bottom-right-radius: 3px;*/
    text-align: center;
}

.adminpanel .table-roles td:first-child {
    width: 30px;
    text-align: right;
}

.adminpanel .table-roles td:nth-child(2) {
    width: 20%;
}

.adminpanel .projectuser li {

    border-top: 1px solid #DDDDDD;

}

.adminpanel .curimage {
    margin: 5px 0;
}

.adminpanel .deleted {
    opacity: 0.5;
}

.admin-user-box li {
    padding: 5px;
}

.admin-user-box li:nth-child(odd) {
    background: #FAF7F3;
}

.admin-user-box li:hover {
    background: #FDEDDB;
    cursor: pointer;
}

.admin-user-box li.ifempty {
    background: none;
    cursor: inherit;
}

.admin-user-box li .user {
    font-weight: bold;
}

.admin-user-box li .roles {
    float: right;
}

.admin-user-box li .typeticket {
    float: right;
    width: 200px;
    text-align: center;
}

.admin-user-box li .control {
    margin-left: 5px;
    position: relative;
    top: -1px;
}

.adminpanel .table-tickettype .col1 {
    width: 40px;
}

.adminpanel .table-tickettype .col2 {
    width: 20%;
}

.adminpanel .table-tickettype .col3 {
    width: 20%;
}

.adminpanel .table-tickettype .col4 {
    width: 20%;
}

.adminpanel .statuses .col1 {
    width: 40px;
}

.adminpanel .statuses .col2 {
    width: 20%;
}

.adminpanel .statuses .col3 {
    width: 20%;
}

.adminpanel .statuses .col4 {
    width: 10%;
}

.adminpanel .table-field .col1 {
    width: 20%
}

.adminpanel .table-field .col2 {
    width: 20%
}

.adminpanel .table-field .col3 {
    width: 10%
}

.adminpanel .table-field .col4 {
    width: 10%
}

.adminpanel .table-field .col5 {
    width: 20%
}

.adminpanel .table-field .col6 {
    width: 20%
}

/* Form login */

.main .formlogin {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #cccccc;
}

.formlogin {
    width: 350px;
    padding: 10px 0 0;
}

.formlogin legend {
    margin-bottom: 10px;
}

.formlogin form {
    margin: 0;
}

.formlogin .form-actions {
    margin: 0;
}

.formlogin fieldset {
    padding: 0 20px 10px;
}

.main .formregister {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #cccccc;
}

.formregister {
    width: 500px;
    padding: 10px 0 0;
}

.formregister fieldset {
    padding: 0 20px 10px;
}

.formregister form {
    margin: 0;
}

.formregister .form-actions {
    margin: 0;
}

/* Front pages */

.front .header {
    /*height: 100px;*/
    width: 100%;
    min-height: 55px;

}

.front .header .nav-line {
    padding: 10px 20px;
    position: relative;
    background: rgba(255, 255, 255, 0.1);
}

.front .header .title {
    /*text-shadow: #fff 0px 1px 1px;*/
    /*-webkit-text-stroke: 1px;*/
    padding-top: 15px;
    color: #FFF;
    font-size: 29px;
    line-height: 110%;
    font-family: "Segoe UI", "Open Sans", Arial, Tahoma, Verdana, sans-serif;
    padding: 20px;
    /*text-shadow: 0 0 3px rgba(0, 0, 0, 0.85);*/
}

.front .header img {
    width: 50px;
}

.front .header .container-fluid {
    padding: 0;
}

.front .header .title a {
    color: #FFF;
    text-decoration: none;
}

.front .header .title a img {
    margin-right: 15px;
}

.front .header .menu {
    margin: 0;
}

.front .header .menu li a, .front .header .menu li span {
    display: block;
    float: left;
    margin-right: 2px;
    color: #fff;
    border: 1px solid transparent;
    font-size: 14px;
    border-radius: 2px;
}

.front .header .menu li span {
    color: #ccc;
}

.front .header .menu li .dropdown-menu {
    background: #1b4770;
    background-color: rgba(27, 71, 112, 0.9);
}

.front .header .menu li .dropdown-menu a {
    float: none;
    margin: 0;

}

.front .header .menu.nav-pills .active > a {
    background-color: #1b4770;
    /*border: 1px solid #D79D6D;*/
    background-color: rgba(27, 71, 112, 0.7);
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
}

.front .header .menu .caret {
    border-top-color: #FFFFFF;
}

.front .header .menu .label {
    position: relative;
    top: -1px;
}

.front .header .nav > li i[class^=icon] {
    position: relative;
    top: 1px;
}

.front .header .nav > li > a:hover {
    background-color: #7EA370;
    background-color: rgba(255, 255, 255, 0.3);
}

.front .header .dropdown-menu li > a:hover, .dropdown-menu .active > a, .dropdown-menu .active > a:hover {
    color: #a3bfd8;
    text-decoration: none;
    background-color: #54694C;

    background-color: rgba(255, 255, 255, 0.1);
}

.front .body {
    background: #fff;
}

.front .content {
    padding: 30px 0;
    /*background: #eee;*/
    border-radius: 2px;
}

.front .content h1 img {
    margin-right: 15px;
    float: left;
    position: relative;
    top: -10px;
}

.front .lcolumn {
    width: 140px;
    float: left;
    text-align: center;
    position: absolute;
}

.front .rcolumn {

    padding-left: 150px;
}

.front .attach-images {
    margin: 5px 0;
}

.front .attach-images .minimedia {

    float: left;
    text-align: center;

}

.front .attach-images .minimedia.newmedia .image-attach {
    background: #FFDDBA;
    /*height: 120px;*/
}

.front .attach-images .minimedia img {
    max-height: 150px;
}

.front .attach-images .minimedia .image-attach a {
    display: block;
    overflow: hidden;
}

.front .attach-images .minimedia .image-attach a.img {
    height: 103px;
}

.front .attach-images .minimedia .image-attach {
    padding: 3px;
    border: 1px solid #aaa;
    margin: 0 5px 5px 0;
    /*font-size: 25px;*/
    background: #fff;

}

.front .attach-images .minimedia .image-attach .image-attach-inner {
    font-size: 11px;
    color: #777;
    width: 100px;
    height: 120px;
    overflow: hidden;

}

.front .attach-images .minimedia .image-attach .image-attach-inner img {
    border: 1px solid #ccc;
}

/*.front .attach-images .minimedia {*/

/*float: left;*/
/*margin-right: 10px;*/
/*text-align: center;*/
/*box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);*/

/*-webkit-border-radius: 5px;*/
/*-moz-border-radius: 5px;*/
/*border-radius: 5px;*/
/*padding: 3px;*/
/*}*/

/*.front .attach-images .minimedia .image-attach {*/
/*-webkit-border-radius: 5px;*/
/*-moz-border-radius: 5px;*/
/*border-radius: 5px;*/
/*overflow: hidden;*/
/*width: 100px;*/
/*height: 100px;*/
/*border: 1px solid #aaaaaa;*/

/*}*/

.front .attach-files .minimedia {
    line-height: 30px;
}

.front .attach-files .minimedia a:hover {
    text-decoration: none;
    color: #002a80;
}

.front .attach-files .minimedia img {
    margin-right: 5px;
    position: relative;
    top: 4px;
}

.front .uploadify-queue {
    /*min-height: 25px;*/
    /*border: 1px dashed #9C8060;*/
    /*margin: 10px;*/
    /*content: "aaa";*/
}

.front .uploadify-queue .uploadify-queue-item {
    padding: 5px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #dddddd;
    margin: 4px 0;
}

.front .uploadify-queue .uploadify-queue-item .fileName {
    font-weight: bold;

}

.front .uploadify-queue .uploadify-queue-item .cancel {
    float: right;
}

.front .userinfo {
    position: absolute;
    right: 20px;
    top: 10px;
    background: rgba(255, 255, 255, 0.4);
    padding: 8px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;

}

.front .userinfo a {
    color: #FFFED6;

}

.front .ticket-list {    
    width: 100%;
}

.front .ticket-list .version_block {
    background: #c7d4e1;
    color: #36618a;
    padding: 8px 35px 8px 14px;
}

.front .ticket-list .ticket_hr {
    height: 10px;
    background-color: #fff;
    line-height: 10px;
}

.front .ticket-list .ticket {    
    padding: 5px;
    position: relative;
}

.front .ticket-list .ticket.myticket {
    padding: 0;
    padding-top: 5px;
}

.front .list-find {
    display: inline-block;
    background: none;
    width: 100%;
    padding: 0;
    margin: 0;
    border: none;
}

.front .list-info {
    background: transparent;
    border: none;
    text-align: center;
    margin: 0;
    padding: 0;
}
/*.front .ticket-list .ticket:nth-child(odd) {*/

/*background: #fff;*/
/*}*/

.front .ticket-list td {
    vertical-align: top;
    padding-bottom: 3px;
    position: relative;
}

.front .ticket-list .ticket:nth-child(even) {
    
    background: #eee;
}

.front .ticket-list .ticket.myticket:nth-child(even) {

    background: #f5f5f5;
}

.front .ticket-list .ticket.ticket-draggable {
    z-index: 1000;
    background: #E6DEBA;
    opacity: 0.7;
}

.front .ticket-list .ticket.ticket-drop-hover {
    background: #C6E6BA;
}

.front .ticket-list .ticket .ticket_number {    
    width: 120px;
    min-width: 120px;
    position: relative;
}
.front .ticket-list .ticket .ticket_number2 {
    width: 80px;
    min-width: 80px;
    position: relative;
}

.front .ticket-list .ticket .mrow {    
    width: 100%;
    display: inline-block;
    padding-top: 7px;
}

.front .ticket-list .ticket .mrow4 {
    width: 100%;
    display: inline-block;
    padding-top: 3px;
    line-height: 15px;
}

.front .ticket-list .ticket .mrow .tiptip_block{
    display: inline-block;
    float: left;
    position: relative;
}

.front .ticket-list .ticket .mrow .id_tickets{
    display: inline-block;
    float: right;
    position: relative;
    padding-right: 15px;
}

.front .ticket-list .ticket .mrow .id_tickets span{
    position: absolute;
    font-size: 20px!important;
    right: 8px;
    top: -4px;
}

.front .ticket-list .ticket .mrow2 {
    width: 100%;
    display: inline-block;
    position: absolute;
    bottom: 1px;
    right: 0;
    color: #999;
    font-size: 12px;
}

.front .ticket-list .ticket .tiptip_block a{
    opacity: 0.1;
    margin-left: 5px;
}

.front .ticket-list .ticket:hover .tiptip_block a{
    opacity: 0.5;
}

.front .ticket-list .ticket .tiptip_block a:hover{
    opacity: 1;
}

.front .ticket-list .ticket .number {
    float: left;
    width: 200px;
    text-align: right;
    overflow: hidden;
    position: relative;
}

.front .ticket-list .ticket .systags {
    margin-right: 60px;
    margin-top: -2px;
}

.front .ticket-list .ticket .logo-aggregator {
    position: absolute;
    top: 2px;
    left: 0;
    opacity: 0.5;
}

.front .ticket-list .ticket:hover .logo-aggregator {
    opacity: 1;
}

.front .ticket-list .ticket .ticket_number a {
    font-weight: bold;
    font-size: 14px;
    color: #1b4770;
}

.front .ticket-list .ticket .ticket_number a .letter {
    font-weight: bold;
    font-size: 14px;
    color: #9DA8B3;
}

.front .ticket-list .ticket .ticket_number .date {
    display: inline-block;
    color: #999;
    font-size: 12px;
    float: right;
    padding-right: 15px;
}

.front .ticket-list .ticket .tagblock {
    overflow-y: hidden;
    height: 45px;
    position: absolute;
    padding: 0 5px 3px;
    left: 0;
    right: 15px;
}

.front .ticket-list .ticket:nth-child(even) .tagblock {
    background-color: #eee;
}

.front .ticket-list .ticket .tagblock:hover {
    overflow-y: visible;
    height: auto;
    z-index: 100;
    background-color: #fff;
}

.front .ticket-list .ticket:nth-child(even) .tagblock:hover {
    background-color: #eee;
}

.front .ticket-list .ticket .new-comment {
    //position: absolute;
    right: 35px;
    top: -1px;
    white-space: nowrap;
}

.front .ticket-list .ticket .add-customtag {
    right: 0px;
    position: relative;
    top: 0px;
}

.front .ticket-list .ticket .new-comment strong {
    text-align: right;
    width: 30px;
    display: inline-block;
}

.front .ticket-list .ticket .info {
    margin-left: 110px;
}

.front .ticket-list .ticket .ticket_text {
    width: 60%;
}

.front .ticket-list .ticket .ticket_text .ticket-text {
    position: relative;
}

.front .ticket-list .ticket .ticket_text .ticket-open {
    position: absolute;
    right: 5px;
    opacity: 0;
}

.front .ticket-list .ticket .ticket_text .ticket-text:hover .ticket-open {
    opacity: 0.4;
}

.front .ticket-list .ticket .ticket_tags {
    min-width: 300px;
}

.front .ticket-list .ticket-controls {
    float: right;
    position: relative;
    top: 5px;
    right: 5px;
    width: 60px;
    bottom: 0;
}

.front .ticket-list .ticket-controls2 {
    width: 25px;
    text-align: center;
    vertical-align: top;
    padding-top: 5px;
}

.front .ticket-list .ticket-controls2.nik {
    text-align: right;
}

.front .ticket-list .ticket-controls2 >div{
    display: block;
    width: 100%;
    height: 20px;
}

.front .ticket-list .ticket-controls2 a, .front .ticket-list .ticket-controls2 span {
    opacity: 0.1;
}

.front .ticket-list .ticket-controls2 span {
    opacity: 0.4;
    text-align: right;
    color: #222;
    font-size: 12px;
    white-space: nowrap;
}

.front .ticket-list .ticket:hover .ticket-controls2 a, .front .ticket-list .ticket:hover .ticket-controls2 span {
    opacity: 0.5;
}

.front .ticket-list .ticket .ticket-controls2 a:hover, .front .ticket-list .ticket:hover .ticket-controls2 span:hover {
    opacity: 1;
}

.front .ticket-list .ticket-statuses {
    text-align: center;
    padding-top: 3px;
    width: 30px;
}

.front .ticket-list .ticket-statuses .change-status-tikets {
    border: 1px solid #666666;
    cursor: pointer;
    width: 18px;
    height: 18px;
}

.front .ticket-list .ticket .same a {
    font-size: 12px;
    color: #888;
    font-weight: normal;
}

.front .ticket-list .ticket .same i {
    opacity: 0.2;
}

.front .ticket-list .ticket .same a:hover {
    color: #333;
}

.front .ticket-list .ticket .same a:hover i {
    opacity: 0.8;
}

.front .ticket-list .ticket .childtikcet {
    text-align: center;
    padding: 3px;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.1);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #eee;
    color: #aaa;
}

.front .ticket-list .ticket .childtikcet:hover {
    background: rgba(150, 150, 150, 0.1);
    border: 1px solid #eee;
    color: #555;
}

.front .ticket-list .ticket .wall {
    border: 0;
    padding: 0;
}

.front .ticket-num {
    font-size: 26px;
    padding: 7px 0;
    font-family: "Open Sans", Arial, Tahoma, Verdana, sans-serif;
}

.front .ticket-tags {
    margin-bottom: 20px;
    min-height: 42px;
    padding: 1px;
}

.front .ticket-tags .ticket-tag {
    margin-right: 10px;
    float: left;
    height: 42px;
    position: relative;
}

.front .ticket-tags .ticket-tag .tag-change-list {
    position: absolute;
    min-width: 10px;
    z-index: 160;
}

.filter-tags {
    margin: 3px 0 10px;
}

.filter-tags .add-tag {
    display: table;
    float: left;
    margin: 4px 0 1px 3px;
    padding: 3px 4px;
}

.front .ticket-filter .content .drag-box.filter-tag {
    position: relative;
    /*padding-right: 80px;*/
}

.front .ticket-fields {
    border-bottom: 1px solid #f5f5f5;
    padding-bottom: 10px;
    overflow: hidden;
}

.front .ticket-fields label.control-label {
    float: left;
    width: 100px;
    text-align: right;
    padding-right: 20px;
    color: #777;
}

.front .ticket-fields .row-fluid:after {
    clear: none;
}

.front .ticket-fields .control-group {
    margin-bottom: 0;
}

.front .ticket-buttons {
    margin: 10px 0;
}

.front .ticket-buttons .btn {
    margin: 6px 0;
    min-height: 0;
}

.front .wall {
    padding-top: 15px;
    border-top: 1px solid #ddd;

}

.front .wall .comment {

    padding-bottom: 10px;
    padding-top: 10px;
    overflow: hidden;
    position: relative;
}

.front .wall .comment .number {
    opacity: 0.5;
}

.front .wall .comment .number a{
    color: #888;
}

.front .wall .comment:hover .number{
    opacity: 1;
}

.front .wall .comment .icon-envelope {

    position: absolute;
    top: 5px;
    right: 5px;
    opacity: 0.2;

}

.front .wall .comment .icon-envelope:hover {
    opacity: 0.5;
}

.front .wall .comment .system {

    font-style: italic;
    color: #777;
}

.front .wall .comment:nth-child(even) {
    background: #f7f7f7;
    padding-top: 5px;
}

.front .wall .comment .user_col {
    width: 95px;
    text-align: right;
    float: left;
    border-left: 5px solid transparent;
}

.front .wall .comment .user_col .nick {
    font-weight: bold;
    color: #444444;
}

.front .wall .comment .user_col .date {

    font-size: 12px;
    color: #999;
}

.front .wall .comment .comment_col {
    padding-left: 110px;
}

.front .wall .comment .comment_col form {
    margin: 5px 5px 0 0;
}

.miniarea {

    height: 16px;
}

.front .wall .comment.newcomment {
    background: #FFEEDE;
    padding: 10px 10px 10px 0;
    overflow: hidden;
}

.front .wall .comment.newcomment form {
    margin-bottom: 0;
}

.front .wall .newcomment .user_col {
    padding-top: 31px;
}

.front .wall .comment-buttons {
    float: right;
    /*display: none;*/

    margin-right: 5px;
}

.front .wall .comment-buttons a {
    opacity: 0.1;
    display: block;
    float: left;
    padding: 4px;
}

.front .wall .comment:hover .comment-buttons a {
    display: block;
    opacity: 0.5;
}

.front .wall .comment .comment-buttons a:hover {

    opacity: 1;
}

.front .dateblock {
    border: 1px solid #ddd;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding: 5px 0;
    font-family: "Open Sans", Arial, Tahoma, Verdana, sans-serif;

}

.front .dateblock .day {
    font-size: 22px;
    line-height: 24px;
    font-weight: bold;
    color: #555;
}

.front .dateblock .month {

    line-height: 18px;
    color: #888;
    font-size: 16px;
}

.front .dateblock .year {

    color: #aaa;
}

.front .win-custom-tag {
    position: absolute;
    /*top: 100px;*/
    /*left: 100px;*/
    width: 170px;

    background: #fff;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    z-index: 5;
    float: left;
    left: 0;
    top: 0;

}

.front .win-custom-tag .win-head {
    background: #CCDBBD;
    padding: 5px;
}

.front .win-custom-tag .win-content {
    padding: 5px;
    overflow-y: auto;

    min-height: 140px;
    max-height: 180px;

}

.front .win-custom-tag .win-content ul li a {
    padding: 4px;
    display: block;
}

.front .win-custom-tag .win-content ul li a:hover {
    background: #D0EDB2;
    text-decoration: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.front .win-custom-tag form {
    margin: 0;
}

.front .win-custom-tag input {
    margin-bottom: 5px;
}

.front .win-custom-tag .close-win-customtag {
    float: right;
    margin-right: 18px;
}

.front .win-custom-tag a {
    opacity: 1 !important;
}

.tag {

    display: block;
    position: relative;
    float: left;
    /*-webkit-border-radius: 3px;*/
    /*-moz-border-radius: 3px;*/
    /*border-radius: 3px;*/
    overflow: hidden;
}

.tag .tag_bg {
    display: block;
}

.tag.tag-mini {
    border: none!important;
    border-radius: 2px;
    /*border: 1px solid #bbb;*/
    margin-top: 3px;
}

.tag.tag-mini .tag_bg {
    background: rgba(200, 200, 200, 0.3);
    width: 24px;
    height: 24px;
    padding: 3px;
    box-sizing: border-box;
}

.tag.tag-mini .tag_bg img {
    width: 18px;
    height: 18px;
}

.tag.tag-mini .tag_highlight {

    display: block;
    width: 24px;
    height: 24px;
    position: absolute;
    z-index: 2;
    opacity: 0.4;
    top: 0;
}

.tag.tag-medi {

    /*border: 1px solid #666;*/
    text-decoration: none;
    height: 36px;
}

.tag.tag-medi .tag_bg {

    /*background: transparent url(/assets/img/meditag_bg.png);*/
    /*background: rgba(255,255,255,0.3);*/
    height: 36px;
}

.tag.tag-medi .tag_bg img {
    width: 28px;
    height: 28px;
}

.tag.tag-medi .tag_bg .tag-gradient {

    /*background: transparent url(/assets/img/meditag_gradient.png);*/
    display: block;
    padding: 2px 14px 2px 5px;
    /*-webkit-border-radius: 3px;*/
    /*-moz-border-radius: 3px;*/
    /*border-radius: 3px;*/
    float: left;
    height: 32px;
    background: url('/assets/img/tag_bg.png');

}

.tag.tag-medi .tag_bg img {
    position: relative;
    top: 2px;
}

.tag.tag-medi .title {

    position: relative;
    top: -6px;
    font-size: 17px;
    height: 40px;
    word-wrap: normal;
    font-family: "Open Sans Light", "Open Sans", Arial, Tahoma, Verdana, sans-seri;

}

.tag.tag-custom.tag-medi .title {
    color: #777;
    top: 5px;
    padding: 5px;
}

.tag.tag-medi .arrow {

    width: 25px;
    cursor: pointer;
    height: 36px;
    display: block;
    background: rgba(255, 255, 255, 1) url(/assets/img/arrow_select.png) center no-repeat;
    opacity: 0.5;
    -webkit-transition: opacity linear 0.2s, box-shadow linear 0.2s, background linear 0.2s;
    -moz-transition: opacity linear 0.2s, box-shadow linear 0.2s, background linear 0.2s;
    -ms-transition: opacity linear 0.2s, box-shadow linear 0.2s, background linear 0.2s;
    -o-transition: opacity linear 0.2s, box-shadow linear 0.2s, background linear 0.2s;
    transition: opacity linear 0.2s, box-shadow linear 0.2s, background linear 0.2s;
}

.tag.loading.tag-medi .arrow {
    background: rgba(255, 255, 255, 1) url(/assets/img/ajax-loader.gif) center no-repeat;
}

.tag.tag-medi:hover .arrow-border .arrow {
    opacity: 0.8;
}

.tag.tag-medi .arrow-border {
    display: block;
    float: right;
    height: 37px;
}

.tag-change-list, .tag-change-minilist {
    position: relative;
    z-index: 16;
}

.tag-change-list ul, .tag-change-minilist ul {
    position: absolute;
    left: -2px;
    background: #fff;
    top: 37px;
    display: block;
    margin: 0;
    list-style: none;
    z-index: 5;

    padding: 2px 2px 0;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}

.tag-change-list ul li {
    margin-bottom: 0;
    height: 38px;
    cursor: pointer;
}

.tag-change-list ul li .tag, .tag-change-list ul li .tag .tag_bg .tag-gradient {
    float: none;
}

.tag-change-list ul li:hover .tag .tag_bg .tag-gradient {
    background: transparent;
    box-shadow: 0 0 4px rgba(255, 255, 255, 0.4) inset;
}

.tag-change-minilist ul li {
    margin-bottom: 5px;
    height: 30px;
    width: 150px;
    cursor: pointer;
    padding: 1px;
}

.tag-change-minilist ul li:hover {
    background: #F7E5D4;
}

.tag-change-minilist ul .title {
    display: block;
    height: 30px;
    margin-left: 35px;
}

.tag.loading.tag-mini {
    background-image: url(/assets/img/ajax-loader.gif);
}

.custags {
    clear: both;
    float: none;
    display: block;
}

.tag.tag-system {
    cursor: pointer;
}

.tag.tag-system.tag-mini {
    margin-right: 2px;
}

.tag .tag_nobr {
    display: block;
}

.tag.tag-custom, .tag-auto, .tag-user, .tag-query, .tag-load, .tag-scope, .tag-platform {
    padding: 3px 4px;
    /*-webkit-border-radius: 3px;*/
    /*-moz-border-radius: 3px;*/
    /*border-radius: 3px;*/
    /*border: 1px solid #fff;*/
    border: 1px solid #bbb !important;
    /*box-shadow: 0 0 1px rgba(0, 0, 0, 0.7);*/
    margin-right: 2px;
    margin-top: 3px;
    position: relative;
    text-align: center;
}

.tag.tag-custom {

    padding-right: 18px;

    border: none!important;
    background: #D8D8D8!important;
}

.tag-auto {

    background: #D4E3CA;
    /*background: -moz-linear-gradient(top, #E4F0E5, #C5D6C7); *//* Firefox 3.6+ */
    /* Chrome 1-9, Safari 4-5 */
    /*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #E4F0E5), color-stop(100%, #C5D6C7));*/
    /* Chrome 10+, Safari 5.1+ */
    /*background: -webkit-linear-gradient(top, #E4F0E5, #C5D6C7);*/
    /*background: -o-linear-gradient(top, #E4F0E5, #C5D6C7); *//* Opera 11.10+ */
    /*background: -ms-linear-gradient(top, #E4F0E5, #C5D6C7); *//* IE10 */
    /*background: linear-gradient(top, #E4F0E5, #C5D6C7); *//* CSS3 */
}

.tag-scope {
    background: #D8D3E8;
}

.tag-query {
    background: #BEDAE8;
}

.tag-user {
    background: #E0CCB8;
}

.tag-platform {
    background: #C7BCCF;
}

.tag-load {
    background: #fff url(/assets/img/miniload.gif) center no-repeat;
    height: 18px;
    width: 18px;

}

.tcus .tag.tag-custom {
    padding-right: 4px;
}

.tag.tag-custom.tag-mini:hover, .tag.tag-auto.tag-mini:hover, .tag.tag-user.tag-mini:hover, .tag.tag-query:hover, .tag.tag-scope.tag-mini:hover {
    background: #6D8A74!important;
    background: -moz-linear-gradient(top, #6D8A74, #4E6B55)!important; /* Firefox 3.6+ */
    /* Chrome 1-9, Safari 4-5 */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #6D8A74), color-stop(100%, #4E6B55))!important;
    /* Chrome 10+, Safari 5.1+ */
    background: -webkit-linear-gradient(top, #6D8A74, #4E6B55)!important;
    background: -o-linear-gradient(top, #6D8A74, #4E6B55)!important; /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #6D8A74, #4E6B55)!important; /* IE10 */
    background: linear-gradient(top, #6D8A74, #4E6B55)!important; /* CSS3 */
    cursor: pointer;
    color: #fff;
    text-decoration: none;
}

.tag.tag-custom.tag-medi {
    height: 26px;
}

.tag.tag-custom .close {
    position: absolute;
    right: 3px;
}

.tag.tag-custom.tag-mini .close {
    top: 4px;
}

.tag.tag-custom.tag-medi .close {
    top: 5px;
}

.tag.tag-custom .close:hover {
    color: #fff;
}

.tag.tag-custom.tag-medi .close:hover {
    color: #000;
}

.tag.inverse {
    position: relative;
}

.tag.inverse::after {

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url(/assets/img/inverse.png) no-repeat;
    background-size: 100% 100%;
    content: '';
    opacity: 0.4;
    z-index: 4;
}

.filter-tag .tag-mini {
    margin: 0;
    margin-right: 5px;
    margin-top: 5px;
}

.ticket-filter {
    margin-top: -20px;
    position: relative;
    margin-bottom: 7px;
}

.ticket-filter .radio, .ticket-filter .checkbox {
    margin-left: 10px;
}

.ticket-filter .content .drag-box {
    padding: 0;
}

.ticket-filter .ifempty {
    padding: 3px;
}

.ticket-filter form {
    margin: 0;
}

/*.ticket-filter input {*/
/*margin: 0;*/
/*}*/

.ticket-filter .control-group {
    margin-bottom: 5px;

}

.ticket-filter .caption {
    padding: 10px;
    opacity: 0.3;
}

.ticket-filter .caption h4 {

}

.ticket-filter .caption a {
    margin-top: -21px;
    height: 24px;
    width: 24px;
    background: url(/assets/img/cup.png);
    display: block;
    float: right;
}

.ticket-filter .caption.open a {

    background: url(/assets/img/cdown.png);
    margin-top: -20px;
}

.ticket-filter .caption:hover {
    background: #eee;
    cursor: pointer;
    opacity: 1;
}

.ticket-filter .caption.open {
    background: #eee;
    opacity: 1;
}

.ticket-filter .content {
    padding: 10px;
    background: #f5f5f5;
    margin-bottom: 10px;
}

.ticket-filter .drag-box {
    padding: 4px 5px;
}

.ticket-filter .drag-box .tsys, .ticket-filter .drag-box .tcus {

    overflow: hidden;

}

.ticket-filter .tag.tag-custom {
    padding-right: 4px;
}

.tag-list {
    float: left;
    margin-right: 10px;
}

.tag-plus {
    opacity: 0.5;
    margin-top: 3px;
}

.tag-plus:hover {
    opacity: 1;
}

.front .fasttag-list {
    position: relative;
    z-index: 10;
    background: #fff;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    padding: 8px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    width: 166px;

}

.front .fasttag-list ul {

    max-height: 150px;
    overflow-y: auto;
    width: 160px;
}

.newtag input {

    float: left;
    margin: 3px 0;
    width: 157px;
}

.animated {
    background: transparent url(/assets/img/animated.gif) center no-repeat;
}

.summary {
    height: 70px;
}

.message {
    height: 250px;
}

.grey {
    color: #888;
}

.note {
    color: #7F8569;
}

.ticket-information {
    width: 400px;

}

.window-confirm {
    padding: 10px;
    min-width: 400px;
    max-width: 450px;

}

.popover-content p:first-child {
    line-height: 1px;
    font-size: 1px;
}

.window-popover {
    font-size: 13px;
    line-height: normal;
    padding: 5px;
}

.window-popover form {
    margin-bottom: 0;
}

.window-confirm h3 {
    margin-bottom: 15px;
}

.window-content {
    padding: 10px 0;
    min-height: 150px;
}

.window-buttons {
    text-align: right;
}

textarea {
    height: 100px;
}

.magnets-list hr {
    margin: 5px;
}

.magnets-list .mticket {
    opacity: 0.5;
}

.magnets-list .mticket:hover {
    opacity: 1;
}

.magnetcount {

    font-size: 24px;
    color: #aaa;
    font-weight: bold;
    float: right;
    padding: 6px 3px;
    background: #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #ccc;
    border-right: 0;
    margin-top: -16px;
    min-width: 27px;
    text-align: center;

}

.magnetcount:hover {

    opacity: 1;
}

.magnetpagination {

    float: right;
    padding: 4px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
    background: #fefefe;
    line-height: 0;
    margin-right: 10px;
    margin-top: -2px;
    position: relative;
    z-index: 150;
}

.magnetpagination a {

    line-height: 0;
    font-size: 0;
    padding: 3px 5px;
    display: block;
    float: left;
}

.magnetpagination a span {

    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    width: 0;
    height: 0;
    line-height: 0;
    font-size: 0;
    border: 4px solid #aaa;
    display: block;
}

.magnetpagination a:last-child {

    margin-right: 0;
}

.magnetpagination a:hover span {

    border-color: #91A37A;
}

.magnetpagination a.active span {

    border-color: #555;
}

.magnetticket-info {

    background: #ffffff;
    position: relative;

    z-index: 15;
}

.apitablehelp tbody tr td:nth-child(1) {
    font-weight: bold;
    color: #555;
}

.green {
    color: #468C4F;
}

.backfly-white {
    position: fixed;
    z-index: 200;
    background: #000;
    opacity: 0.7;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

/*.flyticket {*/
/*position: relative;*/
/*z-index: 300;*/
/*border: 1px solid #fff;*/
/*box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);*/
/*top : -1px;*/

/*}*/

.flyticket {
    position: relative;
    z-index: 300;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    border-radius: 4px;
    background: #fff;
}

.megasearch {
    margin-left: 0 !important;
}

.open-searchblock {
    border-left: 1px solid #ccc;
    cursor: pointer;
    height: 100%;
    position: absolute;
    right: 25px;
    text-align: center;
    width: 25px;
}

.open-searchblock .caret {
    margin-top: 12px;
    opacity: 0.5;
}

.go-searchblock {
    border-left: 1px solid #ccc;
    cursor: pointer;
    height: 100%;
    position: absolute;
    right: 0;
    text-align: center;
    width: 25px;    
}

.go-searchblock button{
    border: none;
    background: transparent;
    height: 100%;
}

.go-searchblock i{
    margin-top: 1px;
}

.go-searchblock2 {
    margin: 20px 10px 10px 10px;
}

.go-searchblock2 button {
    color: #36618a;
    padding: 6px 7px 5px;
    border: 1px solid #C8D8E3;
    background-color: #fff;
}

.sb-searchblock {
    position: absolute;
    display: none;
    background: #fff;
    background: rgba(255, 255, 255, 0.8);

    margin-top: 30px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
    z-index: 3;
    right: 1px;
    width: 60%;
}

.searchblock-inner {
    padding: 10px;
    padding-bottom: 0;
    min-height: 20px;
}

.searchblock-inner h4 {
    color: #A39990;
}

.searchblock-inner .empty {
    padding-bottom: 10px;
    display: block;
}

.clear-filter {
    position: absolute;
    right: 0;
    top: 7px;
}

.close-fiter-tag {
    text-align: center;
    position: absolute;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    font-weight: bold;
    width: 100%;
    height: 100%;
    margin: 0;
    top: 0;
    left: 0;
    font-size: 20px;
    padding-top: 3px;
}

.comment-new {
    /*background: #E3EDDF;*/
    border-left: 5px solid #ABBFA3 !important;
    /*box-shadow: -3px 0 3px #ABBFA3;*/
}

.refresh-upload {
    margin-left: -17px;
    position: relative;
    top: 1px;
    opacity: 0.5;
    z-index: 210;
}

.uploadify {
    cursor: pointer;
    position: absolute;
    margin-top: -20px;
}

.sb-attach-file.hover {
    text-decoration: underline;
    color: #005580;
}

.input-date {
    width: 105px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.filter-subscribed {
    color: #73FF00;
}

.filter-dateblock label {
    width: 65px;
}

.filter-dateblock-inner {
}

.front .ticket-list .ticket .subscribe-icon {
    //position: absolute;
    right: 20px;
    top: 1px;
}

.front .ticket-list .ticket .subscribe-icon-selected {
    /*box-shadow: inset 0 0 2px rgba(0,0,0,0.4);*/
    /*border: 1px solid #fff;*/
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 1px 2px;
    background: #aaa;
    overflow: hidden;
    height: 16px;
    right: 18px;
    opacity: 0.4;
}

pre {
    margin-right: 5px;
    margin-top: 5px;
    background: #E8E8E3;
}

blockquote {
    border-left: 5px solid #E8E8E3;
}

li {
    line-height: 22px;
}

.front .ticket-list .ticket .small-nick {
    position: absolute;
    top: 20px;
    display: block;
    right: 0;
    text-align: right;
    color: #222;
    font-size: 12px;
    opacity: 0.4;
    max-width: 120px;
    overflow: hidden;
    white-space: nowrap;

}

.front .ticket-list .ticket .author-last-comments {
    color: #468C4F;
}

.comment-text {
    position: relative;
    padding-right: 50px;
    min-height: 20px;
}

.comment-text .rate {
    position: absolute;
    top: 0;
    right: 5px;
    z-index: 2;
}

.comment-text .rate .comment-vote {
    color: #aaa;
    font-weight: bold;
    font-family: monospace;
    text-decoration: none;
}

.comment-text .rate .comment-vote.positive, .comment-text .rate .comment-vote.negative {
    display: block;
    padding: 0 5px;
    float: left;
    text-align: right;
    margin-left: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.comment-text .rate .comment-vote.positive {
    background: #E6F5E1;
    color: #98B88C;
}

.comment-text .rate a[href].comment-vote.positive:hover, .comment-text .rate .comment-vote.positive.active {
    background: #D1E8CA;
    color: #3A7522;
}

.comment-text .rate .comment-vote.negative {
    background: #FCD9D9;
    color: #B88C8C;
}

.comment-text .rate a[href].comment-vote.negative:hover, .comment-text .rate .comment-vote.negative.active {
    color: #9C2121;
    background: #F2C4C4;
}

.comment-text .rate .comment-vote.disabled {
    opacity: 0.5;
}

.comment-text .rate .value {
    position: absolute;
    top: 18px;
    right: 0;
    text-align: right;
    font-weight: bold;
    color: #aaa;
}

.comment-text .rate .value.positive {
    color: #3A7522;
}

.comment-text .rate .value.negative {
    color: #9C2121;
}

.by-email {
    background: url(/assets/img/mail10.png) right top no-repeat;
    width: 128px;
    height: 128px;
    opacity: 0.08;
    position: absolute;
    right: 40px;
    top: -10px;
    z-index: 1;
}

.by-team {
    background: url(/assets/img/secure4.png) right top no-repeat;
    width: 64px;
    height: 64px;
    opacity: 0.18;
    position: absolute;
    right: 40px;
    top: 0;
    z-index: 1;
}

.btn-group .btn:hover, .btn-group .btn:focus, .btn-group .btn:active, .btn-group .btn.active {
    z-index: 1;
}

.alternative-btn-group button {
    margin-bottom: 5px;
}

.radio.inline, .checkbox.inline {
    padding-top: 0;
}

.ticket .tag.tag_plugin_fieldtype_users_active {
    background: #C5DE90;
}

.tag.tag_plugin_fieldtype_users, .tag.field_plugin_users {
    background: #DDDEDC;
}

.ticket .plugin_fieldtype {
    clear: both;
}

.ticketframes .ticketframe:nth-child(even) {
    background: #eee;
}

.ticketframes .ticketframe {
    height: 52px;
    border: none;
    width: 100%;
    display: block;
}

.filter-control {
    display: inline-block;
    float: right;
}

.filter-control button {
    border: none;
    background: transparent;    
}

.dropdown-toggle-button {
    border-radius: 2px;
    padding: 6px 7px 5px;
}

.filter-date-toggle-button {
    background: none;
    display: block;
    /*width: 400px;*/
    border: 1px solid #C8D8E3;
    clear: both;
}

.dropdown-toggle-button .caret {
    border-top-color: #045680;
    margin-top: 7px;
    margin-left: 2px;
    opacity: 0.5;
    float: right;
}

.filter-date-toggle-button.active {
    background: #CFDBE3;
}

.filter-date-toggle-button.active .caret {
    opacity: 1;
}

.filter-block {
    overflow: hidden;
    width: 100%;
}

.filter-block-inner {

}

.clear {
    clear: both;
    float: none;
}

.filter-block-inner hr {
    height: 1px;
    margin: 4px;
    border: none;
    background-color: #ccc;
}

.leftside .filter-block-inner label {
    display: block;
}

.filter-block-inner .checkbox {
    width: 100px;
}

.filter-block-inner .date-block {
    margin: 5px 0;
}

.filter-block-inner .date-block span {
    position: relative;
    top: 1px;

}

.filter-block a {
    text-decoration: none;
}

.btn-seatch {
    position: absolute;
    bottom: 10px;
}

.rightside {
    width: 420px;
    float: right;
    position: relative;
    margin: 0 15px;
}

.leftside {
    width: 200px;
    float: left;
}

label.checkbox, label.radio {
    white-space: nowrap;
}

.header-wrapper {
    height: 55px;
    background: url(../../img/nav.png) repeat-x;
    box-shadow: 0 1px 4px 1px rgba(0, 0, 0, 0.5);
    position: relative;
}

.header-menu {
    color: #d7e2ef;
    font-size: 13px;
    padding: 16px 0 0;
    white-space: nowrap;
    font-family: "Segoe UI", "Open Sans", Arial, Tahoma, Verdana, sans-serif;
    position: relative;
}

.header-menu a {
    color: #d7e2ef;
    margin-right: 10px;
    white-space: nowrap;
    display: inline-block;
    line-height: 1;
}

.header-menu nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.header-menu nav ul li {
    display: inline;
}

.header-menu a:hover {
    color: #fff;
}

.header-menu .enterLink {
    float: right;
    display: inline;
    white-space: nowrap;
}

.header-menu .enterLink a {
    margin-right: 0;
}

.header-menu .menu {
    display: inline-block;
    float: left;
}

.header-menu .menu li.selected a {
    color: #fff;
    padding-bottom: 18px;
    border-bottom: 3px rgba(255, 255, 255, 0.4) solid;
}

.alert-info {
    background: #c7d4e1;
    border: 1px solid #a4b8ca;
}

.alert-info, .alert-info a {
    color: #36618a;
}

.nav-tabs > li > a, .nav-pills > li > a, .nav-tabs > li > span, .nav-pills > li > span {
    padding: 8px 6px;
    line-height: 14px;
    margin-bottom: 2px;
    margin-top: 2px;
}

.table .complete {
    background: #E9F0DD;
}

.table .complete:nth-child(even) {
    background: #E1E8D5;
}

.table dl {
    margin: 0;
}

.table dl dt {
    float: left;
    width: 60px;
    text-align: left;
}

.table dl dd {
    padding-left: 70px;
    text-align: left;
}

.show-edit-ticket {
    float: right;
}

.userfilters {
    font-size: 14px;
}

.userfilters .not_current {
    opacity: 0.4;
}

.userfilters .not_current:hover {
    opacity: 1;
}

@media (min-width: 980px) {

    .header-menu a {
        font-size: 16px;
        margin-right: 16px;
    }
}

@media (max-width: 767px) {

    .header-menu a {
        font-size: 13px;
        margin-right: 7px;
    }

    .header-menu .menu {
        height: 20px;
    }

}

@media (max-width: 760px) {

    .header-menu .menu {
        margin-top: -10px;
        white-space: normal;
        display: block;
    }

    .header-menu .menu li.selected a {
        border: none;
        padding: 0;
    }
}

@media (max-width: 600px) {

    .logo {
        height: 100px;
        text-align: center;
    }

    .logo-text {
        width: 100%;
    }

    .showcase a.demo-button {
        display: inline-block;
        position: relative;
        top: 10px;
    }

    .showcase .demo-button-wrapper {
        float: none;
        text-align: center;
    }

    .showcase-mini a.demo-button {
        font-size: 16px;
        padding: 15px;
        padding-left: 40px;
        background-position: 13px 18px;
    }

    .showcase-mini .logo {
        text-align: left;
    }
}