.container {
    width: auto!important;
}

body .front .header {
    background: none;
    padding: 0;
    padding-bottom: 10px;
    box-shadow: none;
}
body .front .header .menu li a{
    background: #828C79;

}
body .front .userinfo {
    background: #828C79;
}

body .front .header .nav>li>a:hover {
    background: #6B8552;
}

body .front .header .menu, body .front .header .userinfo {
    margin-top: 0px;
}

body .front .header .menu li .dropdown-menu {
    background: #828C79;
}