/*
 *  Single style
 */

a, img { outline: none !important; }

.height100p {
    height: 100%;
}

.width350 {
    width: 350px !important;
}

.width100p {
    width: 100% !important;
}

.tar {
    text-align: right !important;
}

.tal {
    text-align: left !important;
}

.tac {
    text-align: center !important;
}

.marbot10 {
    margin-bottom: 10px !important;
}

.martop100 {
    margin-top: 100px !important;
}

.martop20 {
    margin-top: 20px !important;
}

.marginauto {
    margin-left: auto !important;
    margin-right: auto !important;
}

.marbot0 {
    margin-bottom: 0 !important;
}

.padright5 {
    padding-right: 5px;
}

.curPointer {
    cursor: pointer;
}

.dblock {
    display: block;
}

.fleft {
    float: left !important;
}

.fright {
    float: right !important;
}

.hide {
    display: none !important;
}

.noborder {
    border: none !important;
}

.opacity5 {
    opacity: 0.3;
}

.cap {
    display: block;
}

.marright10 {
    margin-right: 10px;
}

.cap:first-letter {
    text-transform: capitalize;

}

.ohidden {
    overflow: hidden;
}

.posrelative {
    position: relative;
}

/*
*  Icons
*/
.icon {
    width: 16px;
    height: 16px;
    display: inline-block;
    line-height: 16px;
    position: relative;
    top: 3px;
    margin-right: 2px;
}

i[class^=ic-] {
    width: 16px;
    height: 16px;
    display: inline-block;
    line-height: 16px;
    position: relative;
    top: 3px;
    margin-right: 2px;
}

.ic-home {
    background: url(/assets/img/icons/home.png) no-repeat;
}

.ic-project {
    background: url(/assets/img/icons/project.png) no-repeat;
}

.ic-ticket {
    background: url(/assets/img/icons/ticket.png) no-repeat;
}

.ic-users {
    background: url(/assets/img/icons/users.png) no-repeat;
}

.ic-platform {
    background: url(/assets/img/icons/platform.png) no-repeat;
}

.ic-attach {
    background: url(/assets/img/icons/attach.png) no-repeat;
}

.ic-filter-save {
    background: url(/assets/img/icons/disk_plus.png) no-repeat;
}
.ic-filter-rss {
    background: url(/assets/img/icons/rss.png) no-repeat;
}
.ic-filter-delete {
    background: url(/assets/img/icons/disk_minus.png) no-repeat;
}
.ic-filter-edit {
    background: url(/assets/img/icons/disk_pencil.png) no-repeat;
}

.ic-options {
    background: url(/assets/img/icons/options.png) no-repeat;
}

.ic-fullscreen {
    background: url(/assets/img/icons/fullscreen.png) no-repeat;
}

.icon-link {
    background: url(/assets/img/icons/link.gif) no-repeat;
}

.icon-load {
    background: url(/assets/img/ajax-loader.gif) no-repeat;
    width: 16px;
    margin-left: -2px;
    margin-top: 2px;
}

.ic-toggle {
    background: url(/assets/img/icons/tick.png) no-repeat;
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
}

.active .ic-toggle {
    background: url(/assets/img/icons/tick.png) no-repeat;
    filter: none;
    -webkit-filter: none; /* Chrome 19+, Safari 6+, Safari 6+ iOS */
}

.icon-tag-plus {
    background: url(/assets/img/plus.png) no-repeat;
    width: 24px;
    height: 24px;
}

input[type=file] {
    display: none;
}

/*
*  Bootstrap
*/

.controls.input {
    padding-right: 10px;
}

h1 img {
    margin-right: 5px;
    position: relative;
    top: 8px;
}

h3, h6 {
    margin-bottom: 10px;
}

h1 .btn {
    font-weight: normal
}

.btn i[class*=icon] {
    position: relative;
    top: 1px;
}

.drag-box ul {
    margin-bottom: 0;
}

.filechoose {
    margin-right: 10px;
}

body .row-fluid > .span12 {
    width: 100%;
}

.filename {
    margin: 5px 0;
}


.colorpicker + .jPicker {
    display: none;
}

.margin-top10 {
    margin-top: 10px;
}

textarea {
    max-width: 100%;
    min-width: 100%;
}

.popover-title {
    display: none;
}

.popover-content {
    padding: 5px;
}

.popover-inner {
    width: auto;
    max-width: 400px;
    min-width: 280px;
}

@media (max-width:1240px) {

    .btn span {
        display: none;
    }
}

input:focus, textarea:focus {
    outline: none;
}

.grey {
    color: #aaa;
}

/*@media (min-width:1200px) {*/
    /*.container {*/
        /*width: 1170px;*/
        /*width: auto;*/
        /*margin: 0 60px;*/
    /*}*/
/*}*/
.alert {
    border-radius: 0;
}

/*.nav-pills > li > a {*/
    /*border-radius: 0;*/
/*}*/

.label-new{background-color:#CCBE00;}
.label-new:hover{background-color:#CCBE00;}