{extends file="{$theme}/front/fixed.tpl"}
{block 'content'}
<div class="page-header">
    <h1>История изменений</h1>
</div>
<div class="page-header">
    <h2>Версия 2.0</h2>
</div>
<div>
    <h3>Что нового</h3>
    <ul>
        <li>Новые типы полей</li>
        <li>Сохранение и редактирование фильтров</li>
        <li>Изменено поведение фильтров. Теперь, чтобы применить фильтры, необходимо нажать кнопку "Отфильтровать". Однако это можно отключить в {if !$user.anonim}<a href="/users/{$user.id_dbuser}">{/if}настройках пользователя{if !$user.anonim}</a>{/if}</li>
        <li>Подгрузка превью тикетов, указанных в тексте тикета</li>
        <li>Отрицающие теги. Чтобы тег стал работать как НЕ необходимо один раз нажать на него в фильтре, чтобы удалить его — нажать второй раз</li>
    </ul>
    <h3>Исправлено</h3>
    <ul>
        <li>Ошибки в дизайне</li>
    </ul>
</div>
<div class="page-header">
    <h2>Версия 1.2.0</h2>
</div>
<div>
    <h3>Что нового</h3>
    <ul>
        <li>Осуществляется поиск всех однотипных тегов при фильтрации, к примеру, при выборе тегов "Идея" и "Ошибка" будет произведен поиск и тех, и других</li>
        <li>В письме, вместе с названием, отображается номер обращения</li>
    </ul>
    <h3>Исправлено</h3>
    <ul>
        <li>Ошибки в дизайне</li>
    </ul>
</div>
<div class="page-header">
    <h2>Версия 1.1.3</h2>
</div>
<div>
    <h3>Что нового</h3>
    <ul>
        <li>Изменен формат писем</li>
        <li>В письма о новых комментариях добавляются превью изображений и ссылки на файлы</li>
    </ul>
    <h3>Исправлено</h3>
    <ul>
        <li>Исправлено нажатие на многоточие в пагинации. </li>
        <li>Добавлена фильтрация по системному тегу "Закрыто" и "Отклонено"</li>
        <li>Добавлена поддержка формата изображений bmp</li>
        <li>Исправлена ошибка отписки от уведомлений</li>
    </ul>
</div>
<div class="page-header">
    <h2>Версия 1.1.2</h2>
</div>
<div>
    <h3>Что нового</h3>
    <ul>
        <li>Голосование за комментарий</li>
        <li>Теперь комментарии, отправленные по почте, помечаются картинкой письма на фоне комментария, а не иконкой</li>
        <li>Чтобы создать нуммерованный или маркированный список теперь можно выделить область текста, разделенные переводом строк</li>
        <li>Автоматическое подписывание на обращения, в которых оставлен комментарий. Может быть отключено в настройках пользователя</li>
    </ul>
    <h3>Исправлено</h3>
    <ul>
        <li>Убраны лишние переводы строк при выводе комментария</li>
    </ul>
</div>
<div class="page-header">
    <h2>Версия 1.1.1</h2>
</div>
<div>
    <h3>Что нового</h3>
    <ul>
        <li>Двойное нажатие больше не вызывает редактирование комментария, для этого нужно нажать на иконку карандаша</li>
        <li>В списке обращений появилась иконка подписаться/отписаться от обновлений</li>
        <li>Появилось форматирование текста:
            <ul>
                <li>Жирный <br /><pre><code>[b][/b]</code></pre></li>
                <li>Курсив <br /><pre><code>[i][/i]</code></pre></li>
                <li>Подчеркивание <br /><pre><code>[u][/u]</code></pre></li>
                <li>Нумерованный список<br />
                    <pre><code>[list=1
[#] Элемент
[#] Элемент
[#] Элемент
[/list]</code></pre></li>
                <li>Маркированный список<br />
                    <pre><code>[list]
[#] Элемент
[#] Элемент
[#] Элемент
[/list]</code></pre></li>
                <li>Цитата <br /><pre><code>[quote][/quote]</code></pre></li>
                <li>Код <br /><pre><code>[code][/code]</code></pre></li>
            </ul>
        </li>
        <li>Добавлены настройки сортировки по умолчанию и отображения автора обращения в списке обращений</li>
        <li>Добавлен статус "Отложено"</li>
    </ul>
    <h3>Исправлено</h3>
    <ul>
        <li>Ошибки в дизайне</li>
    </ul>
</div>
<div class="page-header">
    <h2>Версия 1.1.0</h2>
</div>
<div>
    <h3>Что нового</h3>
    <ul>
        <li>Появились {if !$user.anonim}<a href="/users/{$user.id_dbuser}">{/if}настройки пользователя{if !$user.anonim}</a>:{/if}
            <ul>
                <li>Отправление обращений через почту от Вашего имени</li>
                <li>Переключение резинового и фиксированного дизайна</li>
                <li>Переключение между относительным и точным форматом даты</li>
                <li>Количество отображаемых обращений</li>
                <li>Переключение используемого по умолчанию загрузчика файлов</li>
            </ul>
        </li>
        <li>Прикрепленные файлы нумируются</li>
        <li>Сортировка обращений</li>
        <li>Фильтрация обращений по дате</li>

    </ul>
    <h3>Исправлено</h3>
    <ul>
        <li>Ошибки в дизайне</li>
        <li>Исправлены тексты сообщений</li>
    </ul>
</div>
{*<div class="page-header">*}
{*<h2>Версия 1.0</h2>*}
{*</div>*}
{*<div>*}
{*<h3>Что нового</h3>*}
{*<ul>*}
{*<li>Обработка почты</li>*}
{*<li>Фильтрация списка обращений по тегам</li>*}
{*<li></li>*}
{*</ul>*}
{*</div>*}

{/block}