<span class="tag sb-tag tag-custom tag-medi"  data-id="{$tag.id_tag}"><span class="title">{$tag.title}</span> <a class="close tiptip sb-tag-custom-delete" href="#" title="Удалить тег">&times;</a></span>