{extends file="{$theme}/front/fixed.tpl"}
{block "title"}Авторизация | SlyBug{/block}
{* Переопределяем тело документа *}
{block 'content'}
<div class=" marginauto width350 main">
{include "{$theme}/main/login/ajax.tpl"}
</div>
<span id="loginpage"></span>
{/block}