
{if $tag.groupname && $ticket.admin==1 && $ticket.id_ticketparent==0} <a href="#" data-group="{$tag.groupname}" class="sb-change-status {else}<span class="{/if}tag tag-system tag-medi" data-name="{$tag.name}" data-gender="{$ticket.gender}" style="background: #{$tag.bgcolor}; color:#{$tag.fontcolor};" title="{___("tag_{$tag.name}",$ticket.gender)}">
<span class="tag_bg">
        <span class="tag-gradient">
    <nobr class="tag_nobr"
            >
        <img src="{$img_url}{if $tag.ext==''}default/tag_big.png{else}tag/{$tag.name}_medi.{$tag.ext}{/if}">
        <span class="title">{___("tag_{$tag.name}",$ticket.gender)}</span>
    </nobr>
            </span>
{if $tag.groupname && $ticket.admin==1 && $ticket.id_ticketparent==0} <span class="arrow-border"><span class="arrow"></span></span>{/if}
    </span>
{*<span class="tag_highlight"></span>*}
{if $tag.groupname && $ticket.admin==1 && $ticket.id_ticketparent==0} </a> {else}</span>{/if}
{if $tag.groupname && $ticket.admin==1 && $ticket.id_ticketparent==0}
<div class="sb-change-list tag-change-list"></div>{/if}