

/* Front pages */

.front .header {
    /*height: 100px;*/
    width: 100%;
    background: url(../../img/map.jpg) repeat-x 50% 0;

}

.front .header img {
    width: auto;
}

.front .header .title {
    /*text-shadow: #fff 0px 1px 1px;*/
    /*-webkit-text-stroke: 1px;*/
    padding-top: 15px;
    color: #FFF;
    font-size: 29px;
    line-height: 110%;
    font-family: "Segoe UI", "Open Sans", Arial, Tahoma, Verdana, sans-serif;
    /*text-shadow: 0 0 3px rgba(0, 0, 0, 0.85);*/
}

.header-wrapper {
    height: 55px;
    background: url(../../img/nav.png) repeat-x;
    box-shadow: 0 1px 4px 1px rgba(0, 0, 0, 0.5);
    position: relative;
}

.header-menu {
    color: #d7e2ef;
    font-size: 13px;
    padding: 16px 0 0;
    white-space: nowrap;
    font-family: "Segoe UI", "Open Sans", Arial, Tahoma, Verdana, sans-serif;
    position: relative;
}

.header-menu a {
    color: #d7e2ef;
    margin-right: 10px;
    white-space: nowrap;
    display: inline-block;
    line-height: 1;
}

.header-menu nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.header-menu nav ul li {
    display: inline;
}

.header-menu a:hover {
    color: #fff;
}

.header-menu .enterLink {
    float: right;
    display: inline;
    white-space: nowrap;
}

.header-menu .enterLink a {
    margin-right: 0;
}

.header-menu .menu {
    display: inline-block;
    float: left;
}

.header-menu .menu li.selected a {
    color: #fff;
    padding-bottom: 18px;
    border-bottom: 3px rgba(255, 255, 255, 0.4) solid;
}

.alert-info {
    background: #c7d4e1;
    border: 1px solid #a4b8ca;
}

.alert-info, .alert-info a {
    color: #36618a;
}

.front .body .content .officialAnswer {
    padding: 10px;
    background: #ebf1f6;
    margin: 10px 0;
    box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.4);
    overflow: hidden;
}

.front .body .content .officialAnswer .author {
    color: #777;
    font-size: 11px;
    margin-bottom: 5px;
}

.nav-tabs>li>a, .nav-pills>li>a {
    padding-right: 6px;
    padding-left: 6px;
}