.header {
    background: #191919;
}

.front .header img {
    width: 50px;
    background: #3a3a3a;
}

.front .header .menu.nav-pills .active > a {
    background-color: rgba(117, 117, 117, 0.7);
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
}

.front .header .menu li .dropdown-menu {
    background-color: rgba(117, 117, 117, 0.9);
}

.front .header .menu li .dropdown-menu a:hover{
    color: #191919;
}
.front .ticket-list .ticket .number a {
    color: #191919;
}