.header {
    background: #375c5d;
}

.front .header img {
    width: 50px;
    background: #12d1d8;
}
.front .header .menu.nav-pills .active > a {
    background-color: rgba(18, 209, 216, 0.7);
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
}
.front .header .menu li .dropdown-menu {
    background-color: rgba(18, 209, 216, 0.9);
}

.front .header .menu li .dropdown-menu a:hover{
    color: #9f2215;
}
.front .ticket-list .ticket .number a {
    color: #375c5d;
}