<span class="tag sb-tag tag-custom sb-tag-custom tag-mini" data-id="{$tag.id_tag}">{if $tag.title}{$tag.title}{else}{$tag.name}{/if} <a class="close tiptip sb-tag-custom-delete" href="#" title="Удалить тег">&times;</a></span>