/* -------------------------------------------------------------------
// markItUp!
// By Jay Salvat - http://markitup.jaysalvat.com/
// ------------------------------------------------------------------*/
.markItUp .markItUpButton1 a	{
	background-image:url(/assets/img/editor/bold.png);
}
.markItUp .markItUpButton2 a	{
	background-image:url(/assets/img/editor/italic.png);
}
.markItUp .markItUpButton3 a	{
	background-image:url(/assets/img/editor/underline.png);
}

.markItUp .markItUpButton4 a	{
	background-image:url(/assets/img/editor/picture.png);
}
.markItUp .markItUpButton5 a	{
	background-image:url(/assets/img/editor/link.png);
}

.markItUp .markItUpButton6 a	{
	background-image:url(/assets/img/editor/fonts.png);
}
.markItUp .markItUpButton7 a	{
	background-image:url(/assets/img/editor/list-bullet.png);
}
.markItUp .markItUpButton8 a	{
	background-image:url(/assets/img/editor/list-numeric.png);
}
.markItUp .markItUpButton9 a	{
	background-image:url(/assets/img/editor/list-item.png);
}

.markItUp .markItUpButton10 a	{
	background-image:url(/assets/img/editor/quotes.png);
}
.markItUp .markItUpButton11 a	{
	background-image:url(/assets/img/editor/code.png);
}
.markItUp .markItUpButtonStroke a	{
    background-image:url(/assets/img/editor/stroke.png);
}


	
.markItUp .clean a {
	background-image:url(/assets/img/editor/clean.png);
}
.markItUp .preview a {
	background-image:url(/assets/img/editor/preview.png);
}