.header {
    background: #685f4f;
}

.front .header img {
    width: 50px;
    background: #d89312;
}
.front .header .menu.nav-pills .active > a {
    background-color: rgba(216, 147, 18, 0.7);
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
}

.front .header .menu li .dropdown-menu {
    background-color: rgba(216, 147, 18, 0.9);
}

.front .header .menu li .dropdown-menu a:hover{
    color: #625640;
}
.front .ticket-list .ticket .number a {
    color: #625640;
}