{extends file="main/index.tpl"}
{block "title"}Восстановление пароля | SlyBug{/block}
{* Переопределяем тело документа *}
{block 'body'}
<div class="martop100 marginauto width350 main">
{include "main/remember/ajax.tpl"}
</div>
<span id="loginpage"></span>
{/block}