{extends file="front/fixed.tpl"}
{block "title"}Регистрация | SlyBug{/block}
{* Переопределяем тело документа *}
{block 'content'}
<div class=" marginauto width350 main">
{include "main/register/ajax.tpl"}
</div>
<span id="loginpage"></span>
{/block}