{extends file="admin/index.tpl"}
{block "title"}Поля тикетов | Админ панель SlyBug{/block}
{block 'content'}
    {block 'header'}
    <div class="page-header">
        <h1><img src="{$base_url}assets/img/icons/bticket.png" alt="Тикеты" title="Тикеты"> Редактировать поле тикетов</h1>
    </div>
    {/block}
{/block}