.header {
    background: #523a37;
}

.front .header img {
    width: 50px;
    background: #9f2215;
}

.front .header .menu.nav-pills .active > a {
    background-color: rgba(188, 101, 92, 0.7);
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
}

.front .header .menu li .dropdown-menu {
    background-color: rgba(188, 101, 92, 0.9);
}

.front .header .menu li .dropdown-menu a:hover{
    color: #9f2215;
}
.front .ticket-list .ticket .number a {
    color: #523a37;
}