{extends file="front/fixed.tpl"}
{block 'content'}

<div class="page-header"><h1>Страница не найдена <small>Ошибка 403</small></h1></div>
<p>Если Вы видите это сообщение, то скорей всего Вам сюда нельзя. Причин может быть много, к примеру: доступ этой части сайта ограничен, либо вы не зашли от своего пользователя.</p>
{/block}